@font-face {
    font-family: 'Logo'; /* Nome da fonte, você pode escolher */
    src: url('fonts/IntroRust-Base.otf') format('opentype');    
    font-weight: normal; /* Opcional, defina o peso (normal, bold, etc.) */
    font-style: normal; /* Opcional, defina o estilo (normal, italic, etc.) */
}

@font-face {
    font-family: 'Basic'; /* Nome da fonte, você pode escolher */
    src: url('fonts/introheadr-base.otf') format('opentype');    
    font-weight: normal; /* Opcional, defina o peso (normal, bold, etc.) */
    font-style: normal; /* Opcional, defina o estilo (normal, italic, etc.) */
}

h1{
    font-family: 'Logo';
}


* {
    font-family: 'Basic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filled {
    background-color: #fef6ee; 
}
body {
    font-size: 18px;
    color: #1a1e36;
    margin: 0;
    padding: 0;
    background-color: #FEF6EE;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    border-radius: 15px;
}
header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF6EE;
    padding: 15px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.logo {
    width: 120px;
}

/* Ícone do menu */
.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #1a1e36;
    
}

/* Menu lateral (sidebar) */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fora da tela */
    width: 250px;
    height: 100%;
    background-color: #1a1e36; /* Cor do menu lateral */
    padding-top: 60px;
    transition: 0.3s; /* Transição suave */
    z-index: 1000;
}

.sidebar a {
    font-family: 'Logo'; /* Nome da fonte, você pode escolher */
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #395b8f;
}

/* Conteúdo principal */
.main-content {
    margin-left: 0;
    transition: 0.3s; /* Transição suave para o conteúdo também */
    
}

/* Quando o menu estiver ativo */
.sidebar-active {
    left: 0;
}

.content-shift {
    margin-left: 250px;
}

/* Overlay escuro para focar no menu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: 999;
}

.overlay-active {
    display: block;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C56126; 
    border-radius: 25px; 
    padding: 10px 20px; /* Espaçamento interno */
    width: 100%; /* Ajuste conforme necessário */
    max-width: 600px; /* Largura máxima */
    margin-top: 10px;
    margin-left: 30px;
}

.search-input {
    flex-grow: 1; /* O input ocupa o máximo de espaço disponível */
    border: none; /* Remove bordas padrão */
    background-color: transparent; /* Torna o fundo do input transparente */
    color: #fff; /* Cor do texto branco */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove o contorno ao focar */
}


.search-button {
    display: flex; /* Torna o botão um container flexível */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; 
    background: none; /* Remove fundo */
    border: none; /* Remove borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.search-button i {
    color: #1a1e36;
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

a {
    text-decoration: none !important;  
}

.menu__link {
    color: #000000 !important;
    line-height: 2;
    position: relative;
    margin-left: 90px; 
}

.menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before {
    width: 100%;
    left: 0;
}

.card-header {
    background-color: #D97C41; /* Laranja */
    color: white; /* Texto branco */
    
}

.btn-primary {
    background-color: #D97C41; /* Laranja */
    border-color: #D97C41; /* Laranja */
}

.btn-primary:hover {
    background-color: #4d240b; /* Laranja mais escura para hover */
    border-color: #4d240b;
}

.card {
    border: 1px solid #D97C41; /* Borda laranja ao redor do card */
}

.anuncio-card {
    background-color: #fef6ee !important;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    margin: 10px;
    transition: all 0.5s;

}

.anuncio-card:hover {
    transform: scale(1.05);
  }
  
  .anuncio-card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.anuncio-imagem {
    width: 100%;
    /* height: auto; */
    border-radius: 10px;
    height: 200px; /* Altura padrão definida */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

.anuncio-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.anuncio-avaliacao {
    margin-top: 5px;
    font-size: 16px;
    color: #D97C41;
}

.anuncio-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #D97C41;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 3px;
    font-size: 12px;
}

.submit-btn {
    background-color: #D97C41;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #c96f36;
}

.anuncio-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os anúncios sejam quebrados em novas linhas */
    gap: 20px; /* Espaçamento entre os anúncios */
    justify-content: space-evenly; /* Espaçamento uniforme entre os anúncios */
}

.section {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.equipe-box { 
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;    
}
 .equipe {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;  
  }

  form {
    width: 100%;
    max-width: 700px;
    background-color: #1a1e36;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* #main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #FEF6EE;

} */

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 18px;
}

.rights {
    padding: 10px 0;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9b;
   
    overflow: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer {
position: sticky;
bottom: 0;
width: 100%;
height: 2.5rem;            /* altura do rodapé */
}

.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.4s ease-out;
}

@keyframes slide-down {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

