@font-face {
    font-family: 'Logo'; /* Nome da fonte, você pode escolher */
    src: url('fonts/IntroRust-Base.otf') format('opentype');    
    font-weight: normal; /* Opcional, defina o peso (normal, bold, etc.) */
    font-style: normal; /* Opcional, defina o estilo (normal, italic, etc.) */
}

@font-face {
    font-family: 'Basic'; /* Nome da fonte, você pode escolher */
    src: url('fonts/introheadr-base.otf') format('opentype');    
    font-weight: normal; /* Opcional, defina o peso (normal, bold, etc.) */
    font-style: normal; /* Opcional, defina o estilo (normal, italic, etc.) */
}
h1{
    font-family: 'Logo';
}

h2{
    font-family: 'Logo';

}

* {
    font-family: 'Basic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filled {
    background-color: #fef6ee; 
}
body {
    font-size: 18px;
    color: #1a1e36;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF6EE;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.img {
    border-radius: 15px;
}
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF6EE;
    padding: 15px;
} */
header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF6EE;
    padding: 15px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.logo {
    width: 120px;
}

/* Ícone do menu */
.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #333;
}

/* Menu lateral (sidebar) */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente fora da tela */
    width: 250px;
    height: 100%;
    background-color: #1a1e36; /* Cor do menu lateral */
    padding-top: 60px;
    transition: 0.3s; /* Transição suave */
    z-index: 1000;
}

.sidebar a {
    font-family: 'Logo' ; /* Nome da fonte, você pode escolher */
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #395b8f;
}

/* Conteúdo principal */
.main-content {
    margin-left: 0;
    transition: 0.3s; /* Transição suave para o conteúdo também */
}

/* Quando o menu estiver ativo */
.sidebar-active {
    left: 0;
}

.content-shift {
    margin-left: 250px;
}

/* Overlay escuro para focar no menu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: 999;
}

.overlay-active {
    display: block;
}
.search-form {
    display: flex;
    align-items: center;
    background-color: #C56126; /* Cor de fundo semelhante à imagem */
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    width: 100%; /* Ajuste conforme necessário */
    max-width: 600px; /* Largura máxima */
    }

.search-input {
    flex-grow: 1; /* O input ocupa o máximo de espaço disponível */
    border: none; /* Remove bordas padrão */
    background-color: transparent; /* Torna o fundo do input transparente */
    color: #fff; /* Cor do texto branco */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove o contorno ao focar */
}


.search-button {
    background: none; /* Remove fundo */
    border: none; /* Remove borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.search-button i {
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

a {
    text-decoration: none !important;  
}

.menu__link {
    color: #000000;
    line-height: 2;
    position: relative;
    margin-left: 90px; 
}

.menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before {
    width: 100%;
    left: 0;
}

.card-header {
    background-color: #C56126; /* Laranja */
    color: white; /* Texto branco */
}

.btn-primary {
    background-color: #C56126; /* Laranja */
    border-color: #C56126; /* Laranja */
}

.btn-primary:hover {
    background-color: #C56126; /* Laranja mais escura para hover */
    border-color: #C56126;
}

.form-control {
    border: 1px solid #C56126; /* Borda laranja */
    background-color: #FFF5E6; /* Fundo claro combinando com laranja */
}

.form-control:focus {
    border-color: #C56126; /* Borda laranja mais escura ao focar */
    box-shadow: none; /* Remove a sombra padrão ao focar */
}

.card {
    border: 1px solid #C56126; /* Borda laranja ao redor do card */
}

.anuncio-card {
    background-color: #fef6ee;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.anuncio-imagem {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.anuncio-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.anuncio-avaliacao {
    margin-top: 5px;
    font-size: 16px;
    color: #f9a825;
}

.anuncio-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #ff7043;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 3px;
    font-size: 12px;
}
/* teste 


.section {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.equipe-box { 
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;    
}
 .equipe {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;  
  }
   */

   
   .rights {
    padding: 10px 0;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #9b9b9b;
   
    overflow: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer {
position: sticky;
bottom: 0;
width: 100%;
height: 2.5rem;            /* altura do rodapé */
}

/* Estilo do container do formulário */
.container {
    background-color: #1a1e36;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    text-align: center;
}

.container h1 {
    font-family: 'Logo';

    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

        /* Estilo dos ícones dentro dos inputs */
        .form-group {
            margin-bottom: 2px;
            position: relative;
        }

        /* Posição dos ícones dentro do input */
        .form-group i {
            position: absolute;
            top: 65%;
            left: 10px;
            transform: translateY(-50%);
            color: #666;
            font-size: 20px;
        }

        /* Estilo dos inputs */
        .form-group input {
            width: 100%;
            padding: 12px;
            padding-left: 40px; /* Espaço para o ícone */
            border-radius: 8px;
            border: none;
            outline: none;
            font-size: 14px;
        }

        .form-group input::placeholder {
            color: #999;
        }

        .forgot-password {
            color: #ccc;
            font-size: 14px;
            display: block;
            margin-bottom: 20px;
            text-align: left;
        }



        .alert {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;
            width: auto;
            min-width: 300px;
            max-width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: slide-down 0.4s ease-out;
        }
        
        @keyframes slide-down {
            from { opacity: 0; transform: translateY(-20px); }
            to { opacity: 1; transform: translateY(0); }
        }